<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>全部</string>
		<key>nodeURL</key>
		<string>/?tab=all</string>
	</dict>
	<dict>
		<key>name</key>
		<string>技术</string>
		<key>nodeURL</key>
		<string>/?tab=tech</string>
	</dict>
	<dict>
		<key>name</key>
		<string>创意</string>
		<key>nodeURL</key>
		<string>/?tab=creative</string>
	</dict>
	<dict>
		<key>name</key>
		<string>好玩</string>
		<key>nodeURL</key>
		<string>/?tab=play</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Apple</string>
		<key>nodeURL</key>
		<string>/go/apple</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酷工作</string>
		<key>nodeURL</key>
		<string>/?tab=jobs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>交易</string>
		<key>nodeURL</key>
		<string>/?tab=deals</string>
	</dict>
	<dict>
		<key>name</key>
		<string>城市</string>
		<key>nodeURL</key>
		<string>/?tab=city</string>
	</dict>
	<dict>
		<key>name</key>
		<string>问与答</string>
		<key>nodeURL</key>
		<string>/?tab=qna</string>
	</dict>
	<dict>
		<key>name</key>
		<string>最热</string>
		<key>nodeURL</key>
		<string>/?tab=hot</string>
	</dict>
	<dict>
		<key>name</key>
		<string>R2</string>
		<key>nodeURL</key>
		<string>/?tab=r2</string>
	</dict>
</array>
</plist>
